/***
As with Passionfruit, Anole is designed to help you get your site up and running
quickly. Also, as with Passionfruit, Anole sets nothing by default. Rather, it is
designed to only come when called, so that you can mix and match it with other
CSS frameworks such as Bootstrap, Foundation, and others.

Anole is light-weight and loads quickly, but it contains numerous components
and even animations. It is recommended that you use it with Passionfruit if you
want the finer grained control provided by Passionfruit as opposed to Anole, but
you should be able to get right to work - right away, without needing to dive
back into your CSS code very often.

Just write your HTML, drop in the right classes, and watch Anole do the work
of making your site look pretty for you!
*/

/**Fonts**/
/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'LatoWebBlack';
    src: url('fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/**Fonts**/

/* TODO: find and define all variables, then implement them. */
/* TODO: implement the new system, using variables as well */
/**Variables**/
:root {
  /*Shared/Standard*/
  --border-color-standard: rgba(135, 235, 35);

  /**.anole**/
  --anole-background-image: radial-gradient(rgb(45, 45, 45), rgb(25, 25, 25));
  --anole-font-family: LatoWebLight;

  /**.an-head**/
  --an-head-background: rgb(45, 45, 45);
  --an-head-border-color: rgba(135, 235, 35, 0.5);
  --an-head-shadow: 0px 0px 35px rgba(0, 0, 0, 0.8), 0px 0px 12px rgba(135, 235, 35, 0.9);
  /*.an-head > .an-title*/
  --an-head-title-background: rgb(35, 35, 35);
  --an-head-title-color: rgb(95, 195, 35);
  --an-head-title-font-size: 15px;

  /**Buttons**/
  /*letter-spacing*/
  --an-button-focus-letter-spacing: 5px;
  /*Focus Outline Style (not used by default)*/
  --an-button-focus-outline-style: solid;
  --an-button-focus-outline-color: rgba(255, 255, 255, 0.5);
  --an-button-focus-outline-width: 3px;

  /**Boxes**/
  /*an-infobox*/
  --an-infobox-background-color: rgba(95, 95, 95, 0.2);
  /*an-glass*/
  --an-glass-background-color: rgb(35, 35, 35);
  /*standard an-box box-shadows*/
  --an-box-standard-shadow: 0px 0px 35px rgba(0, 0, 0, 1);
  /*-Used by: .an-glass*/
  --an-infobox-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.9);
  --an-infobox-shadow-light: 0px 0px 35px 1px rgba(0, 0, 0, 0.3);
  /*-Used by .an-infobox-dark, .an-box .an-infobox, .an-codeblock*/
}

/**Standard stuff**/

.anole {
  background-image: var(--anole-background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  font-family: var(--anole-font-family);
}

/*Links*/
.an-link {
  position: relative;
  margin-right: 12px;
  color: rgba(15, 235, 255, 1);
  text-decoration: none;
  letter-spacing: 3px;
  font-variant: small-caps;
  transition: 0.435s;
  display: inline-block;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

.an-link:hover {
  transform: translateY(-1px);
  color: rgb(105, 255, 135);
  transition: 0.175s;
}

.an-link::after {
  content: "▶";
  color: white;
  opacity: 0.1;
  font-size: 8px;
  position: absolute;
  transform: rotate(-15deg);
  top: -13.5%;
  left: 100.5%;
  transition: 0.735s;
}

.an-link:hover:after {
  content: "▶";
  color: rgba(15, 235, 255, 1);
  opacity: 1;
  top: 3.75%;
  transform: rotate(0deg);
  transition: 0.735s;
}

.an-link::before {
  content: "";
  border-color: white;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  width: 0%;
  opacity: 0;
  position: absolute;
  top: 82.5%;
  left: 50%;
  transition: 0.735s;
}

.an-link:hover:before {
  border-color: rgba(15, 235, 255, 0.7);
  opacity: 1;
  width: 90.75%;
  left: 1.75%;
  transition: 0.735s;
}

.an-box .an-link {
  text-shadow: none;
  font-variant: normal;
  margin-left: 3px;
  margin-right: 8px;
  letter-spacing: 0px;
  color: rgb(35, 135, 235);
}

.an-box .an-link:hover {
  margin-left: 0px;
  letter-spacing: 0.5px;
  color: rgb(35, 135, 35);
}

.an-box .an-link::after {;
  color: black;
  opacity: 0.5;
  font-size: 8px;
  position: absolute;
  transform: rotate(-35deg);
  top: -13.5%;
  left: 103.5%;
  transition: 0.735s;
}

.an-box .an-link:hover:after {;
  color: black;
  opacity: 0.5;
  top: 0.75%;
  font-size: 13px;
  position: absolute;
  transform: rotate(0deg);
  transition: 0.735s;
}

.an-box .an-link:hover:before {
  border-color: rgb(35, 135, 135);
}

.an-head {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--an-head-border-color);
  background-color: var(--an-head-background);
  box-shadow: var(--an-head-shadow);
  z-index: 1030;
  min-height: 45px;
  max-height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-content:center;
  flex-direction:row;
  font-family: LatoWebMedium;
}

.an-head > img {
  padding-left: 18px;
  padding-right: 18px;
}

.an-body {
  padding: 75px 0px 0px 0px;
}

.an-glass {
  margin: 25px 35px 25px 35px;
  border-color: rgba(135, 135, 135, 0.3);
  box-shadow: var(--an-box-standard-shadow);
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  background-color: var(--an-glass-background-color);
  padding: 35px;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5pt;
  line-height: 28px;
}

.an-title {
  color: white;
  font-size: 25px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgba(135, 135, 135, 0.3);
  background-color: rgba(75, 135, 105, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin: 0px 0px 35px 0px;
  letter-spacing: 7px;
  min-width: 15%;
  padding: 15px;
  padding-top: 18px;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  flex-direction:row;
}

.an-head .an-title {
  color: var(--an-head-title-color);
  font-size: var(--an-head-title-font-size);
  border-color: rgba(135, 135, 135, 0);
  border-width: 0px;
  background-color: var(--an-head-title-background);
  text-transform: uppercase;
  letter-spacing: 5px;
  min-width: 15%;
  border-radius: 0px;
  margin: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 0px 15px 0px 15px;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  flex-direction:row;
  transition: 1.015s;
}

.an-head .an-title img,
.an-title img {
  width: 24px;
  height: auto;
  margin: 0px 15px 3px 0px;
}

.an-head img {
  width: 32px;
}

/*
Due to CSS' quirks, images and text must be wrapped up in a span.
*/
.an-menubutton span img {
  width: 32px;
  height: auto;
  display: inline-block;
  float: left;
  margin-bottom: -10px;
  margin-top: -10px;
}

/*Breaks convention - should be fixed
.an-head > a {
  position: relative;
  margin: 0px;
  color: white;
  background-color: rgba(48, 48, 48, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  border-color: rgba(135, 255, 35, 0);
  border-width: 3px 0px 3px 0px;
  border-style: solid;
  text-transform: uppercase;
  min-width: 5%;
  max-width: 50%;
  padding: 0px 5px 0px 5px;
  text-align: center;
  min-height: 100%;
  max-height: 100%;
  text-decoration: none;
  transition: 0.421s, border-color 1.735s;
}

.an-head > a:hover {
  background-color: rgba(75, 135, 95, 0.3);
  border-width: 3px 0px 3px 0px;
  border-bottom-color: rgba(135, 255, 35, 1);
  letter-spacing: 1px;
  min-width: 7.5%;
  transition: 0.421s, border-color 1.735s;
}
/*Breaks convention - should be fixed*/

.an-menu-exit {
  display: none;
  text-align: center;
  font-family: LatoWebMedium;
  font-size: 12px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(35, 35, 35);
  padding: 15px;
  text-decoration: none;
}

.an-home-button {
  position: relative;
  background-color: rgba(75, 135, 95, 0.3);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-width: 0px 0px 0px 0px;
  letter-spacing: 4px;
  font-size: 12px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.735s;
}

.an-home-button:hover {
  background-color: rgba(75, 135, 95, 1);
  border-width: 0px 3px 0px 0px;
  border-right-color: rgba(135, 255, 35, 1);
  letter-spacing: 3px;
  padding: 0px 15px 0px 35px;
  transition: 0.735s;
}

.an-head .an-home-button::after,
.an-tail .an-home-button::after {
  position: absolute;
  top: 37.5%;
  left: 9.5%;
  content: "◀";
  font-size: 9px;
  opacity: 0;
  transition: 0.375s;
}

.an-tail .an-home-button::after {
  left: 87.35%;
}

.an-head .an-home-button:hover:after,
.an-tail .an-home-button:hover:after {
  opacity: 1;
  transition: 0.735s;
}

.an-tail .an-home-button {
  border-width: 0px 0px 5px 0px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0px;
  min-height: 45px;
  margin-left: -15px;
  background-color: rgb(45, 45, 45);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.an-tail .an-home-button:hover {
  padding: 0px 35px 0px 15px;
  border-color: rgb(35, 135, 75);
  transition: 0.735s;
}

/*new menu goes here*/

.an-menubutton {
  position: relative;
  background-color: rgb(75, 75, 75);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.3);
  min-width: 175px;
  max-width: 235px;
  font-family: LatoWebMedium;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 10px 10px 5px 10px;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 0.3);
  transition: 1.2s;
}

.an-menubutton:hover,
.an-menuactor:hover {
  background-color: rgb(75, 135, 95);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(45, 135, 95, 0.5);
  border-width: 0px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 1);
  transition: 1.2s;
}

.an-menubutton > .an-menu,
.an-title > .an-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -105%;
  left: 0;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 100%;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  margin-top: 1px;
  margin-bottom: 1px;
  transition: 0.235s, border-color: 0.735s;
}

.an-menubutton:hover > .an-menu,
.an-title:hover > .an-menu {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 108.5%;
  left: 0;
  z-index: 1031;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 100%;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.315s, border-color 0.735s;
}

.an-head .an-menubutton,
.an-head .an-menubutton-alt .an-menuactor {
  position: relative;
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(48, 48, 48, 1);
  letter-spacing: 3px;
  border-color: rgba(134, 255, 36, 0);
  border-width: 3px 0px 3px 0px;
  border-style: solid;
  text-transform: uppercase;
  font-family: LatoWebMedium;
  padding: 0px 15px 0px 15px;
  text-align: center;
  min-height: 100%;
  min-width: 215px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content:center;
  align-content:center;
  align-items: center;
  flex-direction: row;
  transition: 0.715s, border-color 1.932s;
}

.an-head > .an-menubutton:hover,
.an-head > .an-menubutton-alt:hover > .an-menuactor {
  color: rgb(35, 235, 235);
  background-color: rgba(75, 135, 95, 0.1);
  border-top-color: rgba(134, 255, 36, 1);
  transition: 0.421s, border-color 1.735s;
}

.an-head .an-button,
.an-head .an-button-narrow,
.an-head .an-sub {
  padding: 15px;
  border-radius: 0px;
}

.an-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin: 0px 5px 0px 5px;
  background-color: rgb(75, 75, 75);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.3);
  min-width: 135px;
  max-width: 275px;
  font-family: LatoWebMedium;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 10px 10px 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-radius: 5px;
  border-width: 0px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 0.0);
  transition: 1.2s;
}

.an-button:focus {
  font-weight: bolder;
  letter-spacing: var(--an-button-focus-letter-spacing);
  transition: 0.735s;
  text-decoration: none;
}

.an-button:focus, .an-button:visited {
  color: white;
}

.an-button img {
  margin: -10px 5px -3px 5px;
  max-width: 18px;
  height: auto;
  display: inline-block;
}

.an-button-narrow {
  max-width: 45px;
  letter-spacing: 5px;
}

.an-button-narrow:hover {
  max-width: 45px;
  letter-spacing: 3px;
}

.an-button-wide {
  min-width: 215px;
  letter-spacing: 5px;
}

.an-button-wide:hover {
  min-width: 215px;
  letter-spacing: 3px;
}

.an-button:hover {
  background-color: rgb(75, 135, 95);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(45, 135, 95, 0.5);
  letter-spacing: 1px;
  border-color: rgba(135, 235, 35, 1);
  transition: 1.2s;
}

.an-button.an-btn-alt {
  background-color: rgb(35, 105, 135);
  border-color: rgb(255, 255, 255);
}

.an-button.an-btn-alt:hover {
  box-shadow: 0px 0px 5px rgba(0, 135, 235, 0.1);
  transition: 1s, background 0.735s;
  background-color: rgb(35, 135, 195);
  border-color: rgb(135, 255, 255);
  letter-spacing: 2px
}

.an-button.an-btn-blue {
  background-color: rgb(35, 145, 235);
  border-color: rgb(255, 255, 255);
}

.an-button.an-btn-blue:hover {
  box-shadow: 0px 0px 5px rgba(0, 135, 235, 0.1);
  transition: 1s, background 0.735s;
  background-color: rgb(15, 175, 195);
  border-color: rgb(195, 255, 255);
  letter-spacing: 2px
}

/* TODO:
1. use a highlight colour variable
2. use standardized variables for these colours which match certain criteria.
*/
.an-button.an-btn-green {
  background-color: rgb(55, 145, 125);
  border-color: rgb(255, 255, 255);
}

.an-button.an-btn-green:hover {
  box-shadow: 0px 0px 5px rgba(0, 135, 235, 0.1);
  transition: 1s, background 0.735s;
  background-color: rgb(55, 175, 135);
  border-color: rgb(215, 215, 215);
}

.an-button.an-btn-orange {
  background-color: rgb(215, 135, 95);
  border-color: rgb(255, 255, 255);
}

.an-button.an-btn-orange:hover {
  box-shadow: 0px 0px 5px rgba(0, 135, 235, 0.1);
  transition: 1s, background 0.735s;
  background-color: rgb(245, 135, 105);
  border-color: rgb(135, 215, 235);
}

.an-button.an-btn-purple {
  background-color: rgb(135, 105, 175);
  border-color: rgb(255, 255, 255);
}

.an-button.an-btn-purple:hover {
  box-shadow: 0px 0px 5px rgba(0, 135, 235, 0.1);
  transition: 1s, background 0.735s;
  background-color: rgb(135, 105, 205);
  border-color: rgb(215, 215, 215);
}

.an-button.an-btn-spc {
  background-color: rgb(45, 45, 45);
  border-color: rgb(35, 235, 145);
}

.an-button.an-btn-spc:hover {
  background-color: rgb(0, 135, 135);
  box-shadow: 0px 0px 5px rgba(0, 135, 35, 0.1);
  transition: 1s, background 0.735s;
  border-color: rgb(255, 255, 255);
}

.an-button.an-btn-critical {
  color: white;
  background-color: rgb(235, 15, 75);
  border-color: rgb(45, 235, 245);
}

.an-button.an-btn-critical:hover {
  background-color: rgb(195, 35, 105);
  box-shadow: 0px 0px 5px rgba(0, 135, 35, 0.1);
  transition: 1s, background 0.735s;
  border-color: rgb(135, 135, 135);
}

.an-button.an-btn-disabled {
  color: white;
  box-shadow: 0px 0px 5px rgba(35, 35, 35, 0.8);
  background-color: rgb(35, 35, 35);
  border-color: rgb(135, 135, 135);
}

.an-button.an-btn-disabled:hover {
  letter-spacing: 3px;
  background-color: rgb(135, 135, 135);
  box-shadow: 0px 0px 5px rgba(0, 135, 35, 0.1);
  transition: 1s, background 0.735s;
  border-color: rgb(35, 35, 35);
}

.an-disabled, .an-disabled:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(35,35,35);
}

.an-disabled:hover {
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 3px;
  border-right-color: rgba(0, 0, 0, 0);
}

.an-head > .an-button {
  position: relative;
  margin: 0px;
  color: white;
  background-color: rgba(48, 48, 48, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  border-color: rgba(135, 255, 35, 0);
  border-width: 3px 0px 3px 0px;
  border-style: solid;
  text-transform: uppercase;
  min-width: 10%;
  max-width: 50%;
  padding: 0px 15px 0px 15px;
  text-align: center;
  min-height: 100%;
  display: flex;
  font-size: 12px;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.715s, border-color 0.932s;
}

.an-head > .an-button:hover {
  background-color: rgba(75, 135, 95, 0.3);
  border-width: 3px 0px 3px 0px;
  border-bottom-color: rgba(135, 255, 35, 1);
  letter-spacing: 1px;
  min-width: 10%;
  transition: 0.421s, border-color 1.735s;
}

.an-menu > .an-button,
.an-menu-alt > .an-button {
  position: relative;
  color: white;
  background-color: rgba(75, 75, 75, 1);
  letter-spacing: 3px;
  border-color: rgba(134, 255, 36, 0);
  border-width: 0px 0px 0px 3px;
  padding: 15px;
  margin: 1px 0px 1px 0px;
  border-style: solid;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.715s, border-color 0.932s;
}

.an-menu > .an-button:hover,
.an-menu-alt > .an-button:hover {
  position: relative;
  background-color: rgba(75, 175, 75, 0.9);
  border-style: solid;
  border-color: rgba(134, 255, 36, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.421s, border-color 1.735s;
}

.an-menu > .an-sub,
.an-menu-alt > .an-sub {
  position: relative;
  color: white;
  background-color: rgba(75, 95, 75, 1);
  letter-spacing: 3px;
  border-color: rgba(134, 255, 36, 0);
  border-width: 0px 0px 0px 3px;
  padding: 15px;
  margin: 1px 0px 1px 0px;
  border-style: solid;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  font-size: 12px;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.375s, border-color 0.932s;
}

.an-menu > .an-sub:hover,
.an-menu-alt > .an-sub:hover {
  position: relative;
  background-color: rgba(75, 175, 75, 0.9);
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: rgba(134, 255, 36, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.235s, border-color 1.735s;
}

.an-sub::after,
.an-menubutton::after,
.an-menuactor::after {
  content: "▶";
  position: absolute;
  top: 31.5%;
  left: 92.5%;
  opacity: 0.2;
  transition: 0.2s;
}

.an-sub:hover:after,
.an-menubutton:hover:after,
.an-menuactor:hover:after {
  transition: 0.5s;
  top: 35.5%;
  transform: rotate(90deg);
  color: rgba(134, 255, 36, 1);
}

.an-head .an-menubutton::after,
.an-head .an-menuactor::after,
.an-head .an-sub::after {
  top: 31.5%;
}

.an-head .an-menubutton:hover:after,
.an-head .an-menubutton:hover:after,
.an-head .an-sub:hover:after {
  top: 33.5%;
}

.an-menubutton::after,
.an-sub::after,
.an-menuactor::after {
  top: 21.5%;
}

.an-menubutton:hover:after,
.an-sub:hover:after,
.an-menuactor:hover:after {
  top: 35.5%;
}

.an-menubutton .an-title,
.an-menubutton .an-title {
  height: 18px;
}

.an-menubutton > * > .an-button,
.an-menubutton > * > .an-sub,
.an-menubutton > .an-menu > .an-sub > .an-submenu > .an-button {
  padding: 10px;
}

.an-menu .an-sub .an-submenu,
.an-menu-alt .an-sub .an-submenu {
  opacity: 0;
  position: absolute;
  top: -15%;
  left: 100%;
  width: 105%;
  height: 0%;
  z-index: -350;
  color: white;
  background-color: rgb(75, 75, 75);
  letter-spacing: 3px;
  border-color: rgb(134, 255, 36);
  border-width: 0px 0px 0px 3px;
  margin: 5px 0px 5px 0px;
  border-style: solid;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.an-menu .an-sub:hover .an-submenu,
.an-menu-alt .an-sub:hover .an-submenu {
  opacity: 1;
  top: -15%;
  left: 100%;
  z-index: 200;
  width: 105%;
  height: auto;
  position: absolute;
  background-color: rgb(55, 55, 55);
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: rgba(134, 255, 36, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.475s;
}

.an-menu > .an-sub > .an-submenu > .an-button,
.an-menu-alt > .an-sub > .an-submenu > .an-button {
  color: white;
  background-color: rgba(75, 75, 75, 1);
  letter-spacing: 3px;
  border-color: rgba(134, 255, 36, 0);
  border-width: 0px 3px 0px 0px;
  padding: 15px;
  z-index: 205;
  margin: 1px 0px 1px 0px;
  border-style: solid;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.715s, border-color 0.932s;
}

.an-menu > .an-sub > .an-submenu > .an-button:hover,
.an-menu-alt > .an-sub > .an-submenu > .an-button:hover {
  background-color: rgba(75, 175, 75, 0.9);
  border-width: 0px 3px 0px 0px;
  border-color: rgba(134, 255, 36, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 0.421s, border-color 1.735s;
}

.an-menu > .an-title,
.an-submenu > .an-title,
.an-menu-alt > .an-title {
  font-size: 12px;
  border-radius: 0px;
  padding: 5px;
  border-color: rgba(134, 255, 36, 1);
  border-style: solid;
  color: white;
  letter-spacing: 2px;
  background-color: rgba(35, 45, 35, 1);
  border-width: 0px 1px 0px 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.an-submenu > .an-title {
  border-width: 0px 3px 0px 0px;
}

/*Spacer*/
/***
*Spacers are an option component depending on the theme. If your theme comes
with bordered ".an-head > .an-button"'s, then there is no need for you to use
the spacer.
*/
.an-head > .an-spacer {
  width: 2px;
  background-color: rgba(5, 35, 15, 0.1);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.an-head > .an-spacer-tiny {
  width: 1px;
  background-color: rgba(5, 7, 5, 0.3);
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.an-tail {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(135, 135, 135, 0.5);
  background-color: rgb(15, 15, 15);
  z-index: 1030;
  min-height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3%;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  flex-direction:row;
  color: white;
}

.an-tail .an-float-right {
  margin-right: 4.5%;
}

.an-tail * {
  margin-left: 5px;
  margin-right: 5px;
}

.an-group {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.an-group * {
    margin: 0.45%;
}

.an-tail .an-label {
  border-radius: 3px;
  padding-right: 10px;
  /*These margins may be unnecessary*/
  margin-top: auto;
  margin-bottom: auto;
}

/*an-tail buttons*/
.an-tail .an-button {
  justify-content: center;
  min-height: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.an-tail .an-button:hover {
  box-shadow: 0px 0px 15px rgba(0, 135, 135, 0.3);
  letter-spacing: 2px;
  border-radius: 3px;
}

.an-tail img {
  max-width: 24px;
  height: auto;
}

/*Set specific sizes in percentages*/
.an-5p {
  width: 5%;
}

.an-10p {
  width: 10%;
}

.an-15p {
  width: 15%;
}

.an-20p {
  width: 20%;
}

.an-25p {
  width: 25%;
}

.an-30p {
  width: 30%;
}

.an-35p {
  width: 35%;
}

.an-45p {
  width: 45%;
}

.an-50p {
  width: 50%;
}

.an-65p {
  width: 65%;
}

.an-70p {
  width: 70%;
}

.an-75p {
  width: 75%;
}

.an-80p {
  width: 80%;
}

.an-85p {
  width: 85%;
}

.an-95p {
  width: 95%;
}

.an-box {
  background-color: white;
  border-radius: 5px;
  box-shadow:  0px 0px 15px 1px rgba(135, 235, 135, 0.7), 0px 0px 45px 7px rgba(0, 0, 0, 1);
  margin: 35px;
  padding: 35px;
  line-height: 21pt;
  color: black;
  text-shadow: none;
}

.an-center {
  display: flex;
  justify-content:center;
  align-content:center;
  align-items: center;
  flex-direction:column;
}

.an-center-adjust {
  display: flex;
  justify-content:center;
  align-content:center;
  align-items: center;
  flex-direction: row;
}

.an-center-row {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

[class^="an-center"] {
  flex-wrap: wrap;
}

.an-wrap {
  flex-wrap: wrap;
}

.an-no-wrap {
  flex-wrap: nowrap;
}

[class*="an-label"]{
  display: inline;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.an-label-standard {
  color: white;
  background-color: rgb(75, 135, 75);
}

.an-label-critical {
  color: white;
  background-color: rgb(235, 75, 75);
}

.an-label-information {
  color: white;
  background-color: rgb(35, 175, 235);
}

.an-label-optional {
  color: white;
  background-color: rgb(135, 95, 235);
}

.an-label-black {
  color: white;
  background-color: rgb(18, 18, 18);
}

.an-label-blue {
  color: white;
  background-color: rgb(45, 145, 255);
}

.an-label-green {
  color: white;
  background-color: rgb(35, 185, 105);
}

.an-label-orange {
  color: white;
  background-color: rgb(235, 135, 35);
}

.an-label-purple {
  color: white;
  background-color: rgb(175, 75, 215);
}

.an-label-red {
  color: white;
  background-color: rgb(235, 75, 75);
}

.an-label-white {
  color: black;
  background-color: rgb(255, 255, 255);
}

.an-label-yellow {
  color: black;
  background-color: rgb(255, 215, 75);
}

.an-spacer-right {
  max-width: 100%;
  width: 10%;
  float: right;
}

.an-float-right {
  float: right;
}

.an-protip {
  padding: 35px 35px 35px 35px;
  color: black;
  font-size: 12px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border-color: rgb(255, 255, 255);
  margin: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 1px;
  box-shadow: 0px 0px 15px rgba(5, 5, 5, 0.5);
  word-wrap: break-word;
}

.an-protip > .an-tip-title {
  display: inline-block;
  float: left;
  padding: 15px 35px 15px 35px;
  color: white;
  font-size: 15px;
  font-family: LatoWebMedium;
  letter-spacing: 3px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(75, 135, 75, 1);
  box-shadow: 0px 0px 15px rgba(5, 5, 5, 0.5);
  margin-right: 35px;
  margin-bottom: 5px;
}

.an-protip > .an-tip-text {
  display: inline;
  font-size: 18px;
}

.an-stickleft {
  margin-right: auto;
}

.an-stickright {
  margin-left: auto;
}

.an-header {
  display: flex;
  align-items: center;
  border-color: rgba(5, 5, 5, 0.1);
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 200;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  letter-spacing: 3.2pt;
  color: white;
  box-shadow: inset 0px 0px 35px 15px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 15px 35px 15px 35px;
}

.an-heading {
  background-color: rgba(95, 145, 105, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  letter-spacing: 7pt;
  font-family: LatoWebMedium;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 15px 5px 25px;
  color: white;
  margin: 15px 35px 15px 35px;
}

[class*="box"] .an-heading,
.an-glass .an-heading {
  margin-top: 5px;
  margin-bottom: 25px;
}

.an-infobox {
  box-shadow: var(--an-infobox-shadow);
  background-color: var(--an-infobox-background-color);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 35px;
  margin: 35px 5px 35px 5px;
  color: white;
}

.an-infobox-dark, .an-box .an-infobox, .an-codeblock {
  box-shadow: var(--an-infobox-shadow-light);
  background-color: rgba(35, 35, 35, 1);
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 35px;
  margin: 15px;
  color: white;
}

.an-codeblock {
  background-color: rgb(15, 15, 15);
  position: relative;
  font-family: monospace;
  line-height: 195%;
  border-color: rgba(255, 255, 255, 0.2);
  white-space: pre-line;
  transition: 0.915s;
}

.an-codeblock:hover {
  background-color: rgba(25, 25, 25, 0.1);
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.7), inset 0px 0px 135px 5px rgba(0, 0, 0, 0.3);
  border-color: rgba(135, 135, 135, 0.5);
  transition: 1.315s;
}

.an-codeblock > .an-box {
  margin: 35px 5px 5px 5px;
  position: relative;
}

.an-codeblock > .an-box::after {
  content: 'example';
  font-weight: bold;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  position: absolute;
  font-family: LatoWebLight;
  color: rgb(235,235,235);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
  background-color: rgba(35, 35, 35, 1);
  padding: 5px 15px 5px 22px;
  border-radius: 8px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  top: -20px;
  left: 83%;
  transition: 2.5s;
}

.an-codeblock > .an-box:hover:after {
  border-color: rgba(135, 235, 145, 0.3);
  background-color: rgba(15, 15, 15, 1);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.8);
  color: rgb(35, 215, 255);
  text-shadow: 0px 0px 15px rgba(105, 235, 95, 0.5);
  transition: 1.35s;
}

.an-codeblock::after {
  font-weight: bold;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  content: 'codeblock';
  position: absolute;
  font-family: LatoWebLight;
  color: rgb(235,235,235);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 1);
  padding: 5px 15px 5px 22px;
  border-radius: 8px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  top: 35px;
  left: 79.5%;
  transition: 2.5s;
}

.an-codeblock:hover:after {
  border-color: rgba(135, 235, 145, 0.3);
  background-color: rgba(15, 15, 15, 1);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.8);
  color: rgb(105, 255, 145);
  text-shadow: 0px 0px 15px rgba(105, 235, 95, 0.5);
  transition: 1.35s;
}

.an-codeblock {
  color: rgb(95, 235, 255);
}

.an-code-blue {
  color: rgb(35, 175, 255);
}

.an-code-green {
  color: rgb(135,235,135);
}

.an-code-purple {
  color: rgb(145,105,245);
}

.an-code-red {
  color: rgb(215,45,75);
}

.an-code-white {
  color: white;
}

.an-code-yellow {
  color: rgb(235, 175, 35);
}

.an-code-commment {
  color: rgb(175, 175, 175);
  font-style: italic;
}

.an-code-function {
  color: rgb(175, 135, 235);
  font-weight: 600;
}

.an-sunkenplace {
  display: flex;
  align-items: center;
  border-color: rgba(5, 5, 5, 0.1);
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  letter-spacing: 0.2pt;
  color: white;
  box-shadow: inset 0px 0px 35px 15px rgba(0, 0, 0, 0.5);
  padding: 45px;
  margin: 35px 15px 35px 15px;
}

/*List styles*/
.an-list li {
  margin-bottom: 15px;
}

.an-boxed-list li {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  padding: 25px;
  background-color: rgba(15, 15, 15, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 35px 5px rgba(0, 0, 0, 0.5);
}

ul.an-boxed-list li,
ol.an-boxed-list li {
  margin-left: -25px;
}

.an-boxed-list li .an-label {
  padding: 8px 5px 8px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}

/*Needs improvement
Some concepts from here: https://css-tricks.com/custom-list-number-styling/*/
.an-soft-list {
  list-style: none;
  counter-reset: an-counter;
}

.an-soft-list li {
  counter-increment: an-counter;
  color: black;
  border-radius: 3px;
  padding: 35px;
  margin: 35px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.an-soft-list li::before {
  position: absolute;
  top: 35%;
  left: -35px;
  content: counter(an-counter)".";
  color: blue;
  font-weight: bolder;
}

/*A general spacer for use anywhere*/
.an-gen-spacer-tiny {
  margin: 5px;
}

.an-gen-spacer {
  margin: 35px;
}

.an-gen-spacer-large {
  margin: 75px;
}

.an-gen-spacer-huge {
  margin: 135px;
}

.an-antisocial {
  margin: 35px 15px 35px 15px;
}

.an-tip-parent {
  cursor: copy;
  position: relative;
}

.an-tip {
  z-index: 1000;
  position: absolute;
  top: 105%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  max-width: 105%;
  min-width: 105%;
  background-color: rgba(95, 145, 105, 1);
  color: white;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0px 0px 9px 0px rgba(95, 235, 135, 0.3);
  text-align: center;
  transition: 0.2s;
  letter-spacing: 2px;
  line-height: 1.5em;
}

.an-tip-parent:hover .an-tip, .an-button:hover .an-tip {
  z-index: 1000;
  position: absolute;
  top: 105%;
  left: 2.5%;
  opacity: 1;
  visibility: visible;
  max-width: 75%;
  min-width: 75%;
  font-size: 12px;
  text-align: center;
  transition: 0.5s;
  letter-spacing: 2px;
}

.an-tail .an-tip-parent .an-tip {
  top: -135%;
}

.an-tail .an-tip-parent:hover .an-tip {
  top: -135%;
}

.an-button:hover .an-tip .an-head:hover * .an-tip {
  top: 135%;
  left: 7.35%;
}

.an-text-tip.an-tip-parent {
  padding: 0px;
  margin: 0px;
  display: inline;
  text-decoration: underline;
  text-decoration-color: rgba(35, 135, 235, 1);
  text-decoration-style: dotted;
}

.an-text-tip > .an-tip {
  min-width: 415px;
  max-width: 715px;
  font-size: 15px;
  font-family: LatoWebMedium;
  padding: 15px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.8), 0px 0px 5px rgba(95, 235, 35, 0.7);
  border-radius: 8px;
  top: -5px;
  left: -175px;
  transition: 0.075s;
}

.an-tip > .an-tip-sub {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  color: rgb(35, 35, 35);
  border-radius: 0px 0px 8px 8px;
  font-family: LatoWebLight;
  margin: 10px -15px -15px -15px;
}

.an-text-tip:hover > .an-tip {
  padding: 15px;
  min-width: 315px;
  max-width: 315px;
  left: -125px;
  top: 15px;
  font-size: 15px;
  font-family: LatoWebMedium;
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.8), 0px 0px 5px rgba(95, 235, 35, 0.7);
  border-radius: 8px;
  transition: 0.215s;
  z-index: 1031;
}

.an-tip > a, .an-tip > * > a {
  color: rgba(95, 235, 135, 1);
  background-color: rgb(5, 35, 25);
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  margin: 0px 5px 0px 5px;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  text-decoration: underline;
  text-decoration-color: rgba(35, 235, 135, 0);
  text-decoration-style: dotted;
  transition: 1s;
}

.an-tip > a:hover, .an-tip > * > a:hover {
  color: rgba(95, 235, 255, 1);
  background-color: rgb(5, 25, 15);
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  margin: 0px 15px 0px 15px;
  outline: none;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  text-decoration: underline;
  text-decoration-color: rgba(35, 235, 135, 0.5);
  text-decoration-style: dotted;
  transition: 1s;
}

.an-flipX {
  transform: rotateX(180deg);
}

.an-flipY {
  transform: rotateY(180deg);
}

/*Forms*/
.an-form {
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  color: white;
  margin: 15px 35px 15px 35px;
  border-color: rgba(235, 235, 235, 0.3);
  padding: 35px;
  background-color: rgba(235, 235, 235, 0.1);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3), inset 0px 0px 105px 15px rgba(0, 0, 0, 0.1);
}

.an-form > input[type=text], .an-form > * > input[type=text], .an-form > * > * > input[type=text] {
  margin: 0px 5px 0px 5px;
  min-width: 35px;
  height: 32px;
  padding: 8px 12px 8px 12px;
  font-family: LatoWebMedium;
  font-size: 15px;
  color: rgba(135, 235, 35, 1);
  background-color: rgba(95, 95, 95, 0);
  border-style: solid;
  border-color: rgba(135, 235, 35, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8), inset 0px 0px 45px 15px rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  border-width: 1px;
  transition: 1s;
}

.an-form > input[type=text]:hover, .an-form > * input[type=text]:hover, .an-form > * > * > input[type=text]:hover {
  background-color: rgba(45, 75, 65, 1);
  border-color: rgba(135, 235, 235, 0.5);
  color: white;
  letter-spacing: 1px;
  box-shadow: 0px 0px 15px rgba(135, 235, 35, 0.5), inset 0px 0px 45px rgba(0, 0, 0, 0.7);
  transition: 0.715s;
}

.an-form > input[type=text]:focus, .an-form > * > input[type=text]:focus, .an-form > * > * input[type=text]:focus {
  color: rgba(135, 235, 135, 1);
  background-color: rgba(75, 95, 85, 1);
  box-shadow: 0px 0px 15px rgba(135, 235, 35, 0.3), inset 0px 0px 75px 15px rgba(0, 0, 0, 0.7);
  border-color: rgba(135, 235, 35, 0.3);
  border-width: 1px;
  letter-spacing: 2px;
  outline: 0;
  transition: 0.615s;
}


.an-form > input[type=submit], .an-form > * > input[type=submit], .an-form > * > * > input[type=submit] {
  margin: 0px 5px 0px 5px;
  max-width: 150px;
  width: 150px;
  padding: 15px 15px 10px 15px;
  font-family: LatoWebMedium;
  font-size: 15px;
  color: white;
  background-color: rgba(75, 75, 75, 1);
  border-style: solid;
  border-color: rgba(135, 235, 35, 0);
  border-bottom-color: rgba(135, 235, 35, 0.3);
  border-width: 0px 0px 5px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  transition: 1s;
}

.an-form > input[type=submit]:hover, .an-form > * input[type=submit]:hover, .an-form > * > * > input[type=submit]:hover {
  background-color: rgba(75, 175, 95, 1);
  color: white;
  padding: 15px 15px 10px 15px;
  border-bottom-color: rgba(135, 235, 35, 1);
  letter-spacing: 3px;
  box-shadow: 0px 0px 15px rgba(135, 235, 35, 0.3);
  transition: 0.715s;
}

.an-form > input[type=submit]:focus, .an-form > * > input[type=submit]:focus, .an-form > * > * input[type=submit]:focus {
  background-color: rgba(75, 95, 85, 1);
  color: white;
  padding: 15px 15px 10px 15px;
  border-bottom-color: rgba(135, 235, 235, 1);
  letter-spacing: 3px;
  box-shadow: 0px 0px 15px rgba(135, 235, 35, 0.3);
  transition: 0.715s;
}

.an-form > input[type=reset], .an-form > * > input[type=reset], .an-form > * > * > input[type=reset] {
  margin: 0px 5px 0px 5px;
  max-width: 150px;
  width: 150px;
  padding: 15px 15px 10px 15px;
  font-family: LatoWebMedium;
  font-size: 15px;
  color: white;
  background-color: rgba(75, 75, 75, 1);
  border-style: solid;
  border-color: rgba(135, 235, 35, 0);
  border-bottom-color: rgba(235, 35, 135, 0.3);
  border-width: 0px 0px 5px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  transition: 1s;
}

.an-form > input[type=reset]:hover, .an-form > * input[type=reset]:hover, .an-form > * > * > input[type=reset]:hover {
  background-color: rgba(175, 75, 175, 1);
  color: white;
  padding: 15px 15px 10px 15px;
  border-bottom-color: rgba(255, 135, 135, 1);
  letter-spacing: 3px;
  box-shadow: 0px 0px 15px rgba(135, 235, 35, 0.3);
  transition: 0.715s;
}

.an-form > input[type=reset]:focus, .an-form > * > input[type=reset]:focus, .an-form > * > * input[type=reset]:focus {
  background-color: rgba(75, 95, 85, 1);
  color: white;
  padding: 15px 15px 10px 15px;
  border-bottom-color: rgba(235, 15, 35, 1);
  letter-spacing: 3px;
  box-shadow: 0px 0px 15px rgba(135, 235, 35, 0.3);
  transition: 0.715s;
}

.an-form > label, .an-form > * > label, .an-form > * > * > label {
  background-color: rgba(75, 135, 95, 1);
  padding: 17px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-family: LatoWebMedium;
  margin: 0px 5px 0px 5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.an-box .an-checkbox {
  margin-bottom: -35px;
}

.an-checkbox {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  font-size: 15px;
  letter-spacing: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.an-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.an-checkbox span {
  position: absolute;
  top: 27.35%;
  left: 0%;
  margin-left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 13.75%;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(235, 235, 235);
  border-color: rgba(235, 235, 235, 0.0);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 0px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
  transition: 1.735s;
}

.an-checkbox:hover input[type=checkbox] ~ span {
  box-shadow: 0px 0px 3px 0px rgba(35, 235, 95, 0.4), 0px 0px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 3px 0px rgba(35, 235, 45, 1);
  border-color: rgba(35, 235, 195, 0.5);
  background-color: rgb(235, 235, 235);
  transition: 0.345s;
}

.an-checkbox input[type=checkbox]:checked ~ span {
  border-color: rgba(135, 235, 95, 0.8);
  background-color: rgb(45, 145, 35);
  transition: 0.415s;
}

.an-checkbox:hover input[type=checkbox]:checked ~ span {
  background-color: rgb(75, 195, 75);
  transition: 0.735s;
}

.an-radiobox {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 75px;
  font-size: 15px;
  letter-spacing: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.an-radiobox input[type=radio] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.an-radiobox span {
  position: absolute;
  top: 23.35%;
  left: 0%;
  margin-left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(235, 235, 235);
  border-color: rgba(235, 235, 235, 0.0);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 0px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
  transition: 1.735s;
}

.an-radiobox:hover input[type=radio] ~ span {
  box-shadow: 0px 0px 3px 0px rgba(35, 235, 95, 0.4), 0px 0px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 3px 0px rgba(35, 235, 45, 1);
  border-color: rgba(35, 235, 195, 0.5);
  background-color: rgb(235, 235, 235);
  transition: 0.345s;
}

.an-radiobox input[type=radio]:checked ~ span {
  background-color: rgb(45, 145, 35);
  border-color: rgba(135, 235, 95, 0.8);
  transition: 0.415s;
}

.an-radiobox:hover input[type=radio]:checked ~ span {
  background-color: rgb(75, 195, 75);
  transition: 0.735s;
}

.an-reveal {
  background-color: rgb(5, 5, 5);
  position: relative;
  padding: 15px;
  margin: 15px;
}

.an-reveal > .an-wipe-left {
  border-style: solid;
  border-width: 0px 5px 0px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 0;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-wipe-left, .an-wipe-left.active {
  left: 0;
  opacity: 1;
  width: 100%;
  transition: 1s;
}

.an-reveal > .an-wipe-right {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 0;
  top: 0;
  left: 100%;
  width: 0%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-wipe-right, .an-wipe-right.active {
  left: 0;
  opacity: 1;
  width: 100%;
  transition: 1s;
}

.an-reveal > .an-wipe-down {
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 0;
  top: 0;
  left: 0%;
  width: 100%;
  height: 0%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-wipe-down, .an-wipe-down.active {
  opacity: 1;
  height: 100%;
  transition: 1s;
}

.an-reveal > .an-wipe-up {
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 0;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-wipe-up, .an-wipe-up.active {
  opacity: 1;
  height: 100%;
  transition: 1s;
}

.an-reveal > .an-show-down {
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-show-down, .an-show-down.active {
  opacity: 0;
  height: 0%;
  transition: 1s;
}

.an-reveal > .an-show-up {
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-show-up, .an-show-up.active {
  opacity: 0;
  height: 0%;
  transition: 1s;
}

.an-reveal > .an-show-left {
  border-style: solid;
  border-width: 0px 5px 0px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-show-left, .an-show-left.active {
  opacity: 0;
  width: 0%;
  transition: 1s;
}

.an-reveal > .an-show-right {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-show-right, .an-show-right.active {
  opacity: 0;
  width: 0%;
  transition: 1s;
}

.an-reveal > .an-spoiler-x {
  border-style: solid;
  border-width: 0px 5px 0px 5px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-spoiler-x, .an-spoiler-x.active {
  opacity: 0;
  transform: scaleX(0);
  transition: 1s;
}

.an-reveal > .an-spoiler-xb {
  border-style: solid;
  border-width: 0px 5px 0px 5px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-spoiler-xb, .an-spoiler-xb.active {
  opacity: 0;
  transform: scaleX(1.2);
  transition: 1s;
}

.an-reveal > .an-spoiler-y {
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-spoiler-y, .an-spoiler-y.active {
  opacity: 0;
  transform: scaleY(0);
  transition: 1s;
}

.an-reveal > .an-spoiler-yb {
  border-style: solid;
  border-width: 5px 0px 5px 0px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover > .an-spoiler-yb, .an-spoiler-yb.active {
  opacity: 0;
  transform: scaleY(2);
  transition: 1s;
}

.an-reveal > [class*="an-spoiler-spinout"] {
  border-style: solid;
  border-width: 0px 5px 0px 5px;
  border-color: rgba(135, 235, 35, 1);
  position: absolute;
  background-color: rgb(95, 135, 105);
  opacity: 1;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-reveal:hover .an-spoiler-spinoutx,
.an-spoiler-spinoutx.active {
  opacity: 0;
  transform: rotateX(360deg);
  transition: 1s;
}

.an-reveal:hover .an-spoiler-spinouty,
.an-spoiler-spinouty.active {
  opacity: 0;
  transform: rotateY(180deg);
  transition: 1s;
}

.an-mobile-spacer {
  display: none;
}

.an-sidebar {
  background-color: rgb(35, 35, 45);
  border-width: 0px 15px 0px 0px;
  border-radius: 0px 5px 5px 0px;
  border-color: rgba(135, 255, 35,0.3);
  border-style: solid;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  z-index: 21000;
  position: fixed;
  top: 17.5%;
  left: 0%;
  margin-left: -0.5%;
  height: 65%;
  width: 0.35%;
  transition: 0.735s;
  display: flex;
  justify-content:center;
  align-content:center;
  align-items: center;
  flex-direction:column;
}

.an-sidebar:hover {
  background-color: rgba(35, 35, 35, 0.9);
  border-color: rgba(135, 255, 35, 0.5);
  box-shadow: 0px 0px 15px rgba(35, 135, 105, 0.5);
  border-radius: 0px 0px 0px 0px;
  padding-right: 35px;
  margin-left: 0%;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 35%;
  transition: 0.935s;
}

.an-sidebar::after {
  content: '▶';
  position: absolute;
  left: 135%;
  opacity: 0.8;
  font-size: 10px;
  transition: 2.35s;
}

.an-sidebar:hover:after {
  transform: scaleX(-1);
  position: absolute;
  left: 100.8%;
  opacity: 1;
  transition: 0.735s;
}

.an-sidebar > * {
  height: 100%;
  opacity: 0;
  height: 35px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  margin-left: -150px;
  transition: 1s;
}

.an-sidebar:hover > * {
  opacity: 1;
  width: 100%;
  margin-left: -5px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  transition: 1s;
}

.an-sidebar > * > * {
  opacity: 0;
  min-width: 100%;
  height: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  transition: 1s;
}

.an-sidebar:hover > * > * {
  opacity: 1;
  min-width: 100%;
  height: 45px;
  margin-left: -5px;
  transition: 1s;
}

.an-sidebar > * > .an-sb-title {
  max-width: 100%;
  width: 100%;
  font-family: LatoWebMedium;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 15px 10px 15px 10px;
  height: 35px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  border-color: rgba(135, 135, 135, 0.3);
  background-color: rgba(75, 135, 105, 1);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  max-height: 35px;
}

.an-sidebar:hover > * > .an-sb-title {
  margin-left: -5px;
  width: 100%;
  transition: 1s;
}

.an-sidebar .an-button {
  border-radius: 5px 5px 5px 5px;
  width: 100%;
  min-width: 100%;
  text-decoration: none;
  color: white;
  padding: 15px;
  padding-bottom: 25px;
  transition: 1s;
}

.an-sidebar .an-tip {
  position: relative;
  opacity: 0;
  top: -36%;
  left: 105%;
  min-width: 235px;
  max-width: 315px;
  font-variant: small-caps;
  line-height: 20.5px;
  padding: 35px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 8px;
  background-color: rgb(35, 35, 35);
  transition: 0.375s;
}

.an-sidebar:hover > .an-tip {
  position: relative;
  top: -36%;
  left: 155%;
}

.an-anchorpoint {
  position: relative;
}

.an-anchorpoint > div {
  position: absolute;
  top: -75px;
}

.an-text h1, .an-text h2, .an-text h3, .an-text h4, .an-text h5, .an-text h6,
.an-text-alt h1, .an-text-alt h2, .an-text-alt h3, .an-text-alt h4,
.an-text-alt h5, .an-text-alt h6 {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.an-text h1, .an-text h2, .an-text h3, .an-text h4, .an-text h5, .an-text h6 {
  color: rgb(135, 235, 105);
}

.an-text-alt h1, .an-text-alt h2, .an-text-alt h3, .an-text-alt h4,
.an-text-alt h5, .an-text-alt h6 {
  color: rgb(255, 255, 255);
}

.an-text em {
  font-weight: 600;
  letter-spacing: 1px;
}

.an-shn-mobile {
  display: none !important;
}

.an-shn-always {
  display: flex;
}

/*Common mobile break point - always place at the bottom of the file so it's easier to find*/

@media only screen and (max-height: 600px) {
  .an-sidebar::after {
    font-size: 28px;
    top: 21.5%;
    left: 150%;
  }
}

@media only screen and (max-height: 530px) {
  .an-sidebar::after {
    font-size: 24px;
    top: 17.5%;
    left: 175%;
  }
}

@media only screen and (max-height: 400px) {
  .an-sidebar::after {
    font-size: 20px;
    top: 21.5%;
    left: 195%;
  }
}

/*New menu system*/
.an-menubutton-alt {
  position: relative;
}

.an-menu-alt {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -305%;
  left: 0;
  padding: 0px;
  /* TODO: replace with a variable */
  background-color: rgb(45, 45, 45);
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 100%;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  margin-top: 1px;
  margin-bottom: 1px;
  transition: 0s;
}

/*Needs work*/
.an-head .an-hdn-dragon {
  text-decoration: none;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:row;
  font-size: 12px;
  letter-spacing: 3px;
  width: 55px;
  transition: 0.975s;
}

.an-head .an-hdn-dragon:hover, .an-head .an-hdn-dragon:focus {
  padding-left: 5px;
  width: 195px;
  transition: 0.975s;
}

.an-hdn-dragon span {
  letter-spacing: 3px;
  opacity: 0;
  width: 0%;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: 0.975s, width: 1s;
}

.an-hdn-dragon:hover span, .an-hdn-dragon:focus span {
  opacity: 1;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  text-decoration: none;
  transition: 0.975s, opacity 3s;
}

.an-hdn-dragon img {
  max-width: 24px;
  height: auto;
  /*margin-top: auto; works in Firefox, but no longer works in Chrome*/
  margin-top: 12px;
  margin-bottom: auto;
  transition: 0.035s;
}

.an-hdn-dragon:hover img, .an-hdn-dragon:focus img {
  max-width: 0px;
  max-height: 0px;
  opacity: 0;
  transition: 1s;
}

.an-head .an-tip {
  margin-left: 5px;
  margin-top: 15px;
}

.an-mobile-menubutton {
  margin-left: auto;
  background-color: rgb(35, 35, 35);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
  width: 50px;
  min-height: 100%;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: rgba(75, 235, 35, 0.5);
  transition: 0.715s, border-width 0.135s;
}

.an-mobile-menubutton:hover {
  background-color: #5B8C73;
  border-left-width: 3px;
  border-color: rgba(0, 0, 0, 0.5);
  transition: 0.375s, border-width 0.135s;
}

.an-mobile-menubutton::after {
  position: absolute;
  top: 0%;
  left: 0;
  text-align: center;
  padding-left: 1%;
  width: 100%;
  height: 100%;
  content: "☰";
  font-size: 24px;
  color: rgb(135, 195, 105);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  opacity: 1;
  transition: 0.735s, font-size 0.135s, top 0.135s, transform 0.735s;
}

.an-mobile-menubutton:hover:after {
  opacity: 1;
  top: 7.35%;
  color: white;
  transform: rotate(450deg);
  transition: 0.315s, font-size 0.135s, top 0.135s, transform 0.935s;
}

.an-mobile-menubutton .an-menu-alt,
.an-mobile-menubutton .an-menu {
  min-width: 235px;
  background-color: rgb(15, 15, 15);
  position: absolute;
  top: 100%;
  left: -370.5%;
  display: none;
  flex-direction: column;
}

.an-mobile-menubutton:hover .an-menu-alt,
.an-mobile-menubutton:hover .an-menu {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .an-menubutton-alt:hover .an-menu-alt {
  top: 95%;
  opacity: 1;
  visibility: visible;
  transition: visibility: 1s, border-color: 0.735s;
  }

  .an-tail .an-float-right {
    margin-right: 1.5%;
  }

  .an-menu-exit {
    display: none;
  }

  .an-mobile-menubutton {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .an-box {
    padding: 15px;
  }

  .an-codeblock::after {
    left: 35%;
    width: 50%;
    border-radius: 3px;
  }

  .an-codeblock > .an-box::after {
    left: 12%;
    width: 50%;
    border-radius: 3px;
  }

  .an-home-button:hover {
    max-width: 245px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .an-menubutton-alt:hover .an-menu-alt {
    top: 95%;
    opacity: 1;
    visibility: visible;
    transition: 0s;
  }

  .an-menu-exit {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .an-protip > .an-tip-title {
    box-shadow: 0px 0px 15px rgba(5, 5, 5, 0.5);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(75, 135, 75, 1);
    border-color: rgb(255, 255, 255);
    padding: 15px 35px 15px 35px;
    font-family: LatoWebMedium;
    margin-bottom: 35px;
    letter-spacing: 3px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 5%;
    margin-left: -5%;
    display: inline-block;
    color: white;
    width: 100%;
  }

  .an-protip > .an-tip-text {
    margin-bottom: 5%;
    display: inline-block;
    font-size: 18px;
  }

  .an-sidebar:hover {
    top: 7.5%;
    left: 0%;
    height: 85%;
    width: 100%;
    transition: 1s;
  }

  .an-center-adjust {
    flex-direction: column;
  }

  .an-center-row {
    flex-direction: column;
  }

  .an-glass {
    margin: 35px 5px 35px 5px;
  }

  .an-hdn-dragon {
    /* TODO: make this work as it does on sptmin.com, as a default. */
    display: none;
  }

  .an-hdn-mobile {
    display: none !important;
  }

  .an-shn-mobile {
    display: inherit !important;
  }

  .an-shn-always {
    display: inherit;
  }

  [class^="an-label"] {
    margin: 5px;
    display: inline-block;
  }

  .an-mobile-spacer {
    display: block;
    margin: 15px;
  }

  .an-sidebar {
    border-width: 0px 45px 0px 0px;
    height: 25%;
    margin-top: 25%;
    margin-left: -15px;
    border-right-color: rgba(45, 235, 35, 0.1);
    transition: 0.735s;
  }

  .an-sidebar:hover {
    margin-top: 0%;
    opacity: 1;
    height: 100%;
    transition: 0.415s;
  }

  .an-sidebar::after {
    content: '•••';
    font-size: 32px;
    top: 24.5%;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    left: 135%;
    opacity: 1;
    font-size: 10px;
    transition: 1.35s;
  }

  .an-sidebar:hover:after {
    transform: scaleX(1);
  }

  .an-sidebar > *, .an-sidebar > * > * {
    margin-bottom: 5px;
    padding: 12px 10px;
    transition: 0.375s;
  }

  .an-sidebar:hover > * {
    width: 75%;
  }

  .an-tail {
    justify-content: center;
  }

  .an-title {
    font-size: 15px;
  }

  .an-header {
    align-items:center;
    font-size: 18px;
    line-height: 1.75em;
  }

  .an-header img {
    width: 105px;
    height: auto;
    margin-top: -15px;
  }

  .an-head {
    justify-content: center;
  }

  .an-head .an-tip {
    display: none;
  }

  /*TODO: Is this how this should work?*/
  .an-center-row {
    padding: 35px;
  }

  .an-codeblock::after {
    top: 5px;
    left: 55.5%;
  }

  [class*="an-3"] {
    width: 100%;
  }

  [class*="an-4"] {
    width: 100%;
  }

  [class*="an-5"] {
    width: 100%;
  }
}

/**Detect if it's a mobile device, and act accordingly**/
@media (any-hover: none) {
  .an-menuactor:focus ~ .an-menu-alt {
    top: 95%;
    opacity: 1;
    visibility: visible;
    transition: 0s;
  }
}

@media (any-hover: hover) {
  .an-menubutton-alt:hover .an-menu-alt {
    top: 95%;
    opacity: 1;
    visibility: visible;
    transition: 0s;
  }
}
